# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store

# Hugo build output
/public/
/resources/

# Temporary files and directories
/tmp/
/.idea/
/.vscode/
/*.swp
/*.swo
*.log

# Node modules (if you use Node.js for additional tooling)
node_modules/

# Python-related ignores (if not needed, these can be removed)
__pycache__/
*.py[cod]
*$py.class
.Python
build/
dist/
.eggs/
lib/
lib64/
*.egg-info/
.installed.cfg
*.egg
target/

# PyInstaller
*.manifest
*.spec

# Django/Flask specific
*.log
local_settings.py
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Pyre, MyPy, PyType
.pyre/
.mypy_cache/
.pytype/

# Cython debug symbols
cython_debug/

# Others
*.bak
*.tmp
*.swp
